<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.eyebeam.SelfControl</string>
	<key>Disabled</key>
	<true/>
	<key>StartInterval</key>
	<integer>15</integer>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<integer>%d</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>%d</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>%d</integer>
		</dict>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/org.eyebeam.SelfControl</string>
		<string>%u</string>
		<string>--checkup</string>
	</array>
</dict>
</plist>
