<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.application.SelfControl.corebits.bgservice</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/helper.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/helper.error.log</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/SelfControl.app/Contents/Library/LaunchAgents/SelfControlBGService</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.application.SelfControl.corebits.bgservice.xpc</key>
		<true/>
	</dict>
</dict>
</plist>
